<footer>
  <div class="legal">
    Systems Analyst | FullStack Developer | Business Analyst | Mainframe Developer
  </div>
  <div>
    <ul class="nav__list">
      <li class ="social_links">
        <a href = "<%= git%>" target="blank">
          <i class="fa fa-github-square fa-lg" aria-hidden="true" ></i>
        </a>
      </li>
      <li class ="social_links">
        <a href = "<%= linkedin%>" target ="blank">
          <i class="fa fa-linkedin-square fa-lg" aria-hidden="true" ></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
</body>
</html>
