<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS-->
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link type = "text/css" rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'/>
  </head>
  <body>
    <!-- navigation bar with dynamic links -->
    <nav class ="navbar navbar-default">
      <ul class = "nav navbar-nav">
        <% for(var i=0;i<pages.length;i++) {%>
          <% var link='/'; if(i>0){ link = pages[i];}  %>
        <li><a href =<%= link%>><%= pages[i]%></a></li>
        <% } %>
      </ul>
    </nav>
