<%-include partials/header.ejs %>
<main >
    <div class="background">
        <img src = "./images/Skills.png"/>
    </div>
    <div class="content">
      <%= messege %>
    </div>
    <div class="row">
        <div class="third">
            content
        </div>
        <div class="third">
            content
        </div>
        <div class="third">
            content
        </div>
    </div>

    <div class="row">
        <div class="half">
            half
        </div>
        <div class="fourth">
            fourth
        </div>
        <div class="fourth">
            fourth
        </div>
    </div>

</main>
<%-include partials/footer.ejs %>
